<!DOCTYPE html>
<html>
<head>
    <title>OSM-Changesets API</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link href="../../../static/output.css" rel="stylesheet">
     <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body class="bg-gray-100 text-gray-900">
    <div class="container mx-auto p-4">
        <h1 class="text-4xl font-bold text-center mt-4">Welcome to the Changeset API</h1>
        <p class="text-lg text-center mt-2">This is the API for accessing changeset data from OpenStreetMap.</p>

        <div class="flex justify-center mt-4" style="gap: 1rem;">
            <a href="{% url 'live-map' %}" class="bg-blue-500 text-white px-4 py-2 rounded-md">🗺️ Live map</a>
            <a href="{% url 'changeset-query' %}" class="bg-blue-500 text-white px-4 py-2 rounded-md">🔎 Browse API</a>
            <a href="{% url 'api-docs' %}" class="bg-blue-500 text-white px-4 py-2 rounded-md">📖 API docs</a>
        </div>
        
        <div class="max-w-xl mx-auto bg-white p-6 mt-6 rounded-lg shadow-lg">
            <h2 class="text-2xl font-bold mb-4">Usage</h2>
            <p class="text-lg mb-4">To fetch changesets in a range, use the form below:</p>
            
            <form id="changesetForm" class="space-y-4">
                <div>
                    <label for="seq_start" class="block text-lg font-medium text-gray-700">Sequence Start</label>
                    <input type="number" id="seq_start" name="seq_start" class="mt-1 block w-full border border-gray-300 rounded-md p-2" required>
                </div>
                <div>
                    <label for="seq_end" class="block text-lg font-medium text-gray-700">Sequence End</label>
                    <input type="number" id="seq_end" name="seq_end" class="mt-1 block w-full border border-gray-300 rounded-md p-2" required>
                </div>
                <div class="text-center">
                    <button type="submit" class="w-full bg-blue-500 text-white p-2 rounded-md">Get Changesets</button>
                </div>
            </form>

            <h2 class="text-2xl font-bold mb-4 mt-4">The last sequence number is:</h2>
            <button id="last_changeset_btn" class="animate-pulse flex w-fit mx-auto text-xl font-bold bg-green-700 text-white text-center px-4 py-2 rounded">{{ last_changeset_id }}</button>
        </div>

        <div class="max-w-xl mx-auto p-6 mt-6">
            <h1 class="text-xl font-bold text-center mt-4">Number of changesets in the last 10 sequences: </h1>
            <div id="loadingSpinner" class="flex items-center justify-center my-8">
                <button type="button" class="inline-flex items-center px-4 py-2 font-semibold leading-6 text-sm shadow rounded-md text-white bg-blue-500 hover:bg-blue-400 transition ease-in-out duration-150 cursor-not-allowed" disabled="">
                    <svg class="animate-spin -ml-1 mr-3 h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                        <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                        <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                    </svg>
                    Processing...
                </button>
            </div>
            <canvas id="changesetCountChart" width="600" height="400" style="display: none;"></canvas>
            <!-- <canvas id="changesetCountChart" width="600" height="400"></canvas> -->
        </div>
    </div>

    <script>
        document.getElementById('changesetForm').addEventListener('submit', function(event) {
            event.preventDefault();
            const seqStart = document.getElementById('seq_start').value;
            const seqEnd = document.getElementById('seq_end').value;
            window.location.href = `/api/sequence/${seqStart}/${seqEnd}/`;
        });

        document.getElementById('last_changeset_btn').addEventListener('click', function() {
            var lastChangesetId = this.innerHTML;
            document.getElementById('seq_end').value = lastChangesetId;
        });

        var ctx = document.getElementById('changesetCountChart').getContext('2d');
        
        // This array will store the sequence numbers for the tooltip
        var sequences = [];

        // Initialize the chart but leave it empty initially
        var chart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: [], // Time points (empty initially)
                datasets: [{
                    label: 'Total Changesets',
                    backgroundColor: 'rgba(0, 119, 204, 0.3)',
                    borderColor: 'rgb(0, 119, 204)',
                    data: []  // Data points (empty initially)
                }]
            },
            options: {
                scales: {
                    x: {
                        title: {
                            display: true,
                            text: 'Time'
                        }
                    },
                    y: {
                        title: {
                            display: true,
                            text: 'Number of Changesets'
                        },
                        suggestedMin: 0,
                    }
                },
                plugins: {
                    tooltip: {
                        callbacks: {
                            // Customize the tooltip to include both the changeset count and the sequence
                            label: function(tooltipItem) {
                                var changesetCount = tooltipItem.raw;  // Access the data point
                                var sequenceNumber = sequences[tooltipItem.dataIndex];
                                return 'Total Changesets: ' + changesetCount + ' (Sequence: ' + sequenceNumber + ')';
                            }
                        }
                    }
                }
            }
        });

        // Function to load the initial data (last 10 changesets)
        function loadInitialData() {
            $.ajax({
                url: "{% url 'update_changeset_view' %}",
                data: { 'initial': 'true' },
                success: function(data) {
                    data.initial_data.forEach(function(item) {
                        var sequenceTime = convertToLocalTime(item.timestamp);

                        // Push changeset_count for plotting and sequence for tooltips
                        chart.data.labels.push(sequenceTime);
                        chart.data.datasets[0].data.push(item.changeset_count);

                        sequences.push(item.sequence); // Store the sequence number for the tooltip
                    });

                    chart.update();

                    // Hide the loading spinner and show the chart
                    document.getElementById('loadingSpinner').classList.add('hidden');
                    document.getElementById('changesetCountChart').style.display = 'block';

                    // After initial data is loaded, start real-time updates
                    startRealTimeUpdates();
                }
            });
        }

        // converting fetched timestamps (for each changeset) into local timestamp
        function convertToLocalTime(timestamp) {
            // Split the timestamp into hours and minutes
            var [hours, minutes] = timestamp.split(':').map(Number);

            // Create a new Date object for the current date and time
            var date = new Date();

            // Set the hours and minutes to the timestamp values
            date.setHours(hours, minutes, 0, 0);

            // Get the time zone offset in minutes
            var timeZoneOffset = date.getTimezoneOffset();

            // Adjust the time by adding the time zone offset
            date.setMinutes(date.getMinutes() - timeZoneOffset);

            // Get the local time
            var localHours = date.getHours();
            var localMinutes = date.getMinutes();

            // Format the local time as a string
            var localTime = pad(localHours) + ':' + pad(localMinutes);

            return localTime;
        }

        function pad(number) {
            // Pad the number with a leading zero if it is less than 10
            return (number < 10 ? '0' : '') + number;
        }

        function startRealTimeUpdates() {
            setInterval(function() {
                $.ajax({
                    url: "{% url 'update_changeset_view' %}",
                    success: function(data) {
                        if (data.changeset_count !== null) {
                            var currentTime = new Date().toLocaleTimeString([], {hour: '2-digit', minute:'2-digit', hour12: false}); // Current time for labels

                            // Add new data point and remove the oldest if there are more than 10 points
                            if (chart.data.labels.length >= 10) {
                                chart.data.labels.shift(); // Remove first time point
                                chart.data.datasets[0].data.shift(); // Remove first data point
                                sequences.shift(); // Remove first sequence
                            }
    
                            // Push new data and labels
                            chart.data.labels.push(currentTime);
                            chart.data.datasets[0].data.push(data.changeset_count);
                            sequences.push(data.sequence); // Store the sequence number for the tooltip
    
                            // Update the chart
                            chart.update();

                            // change last sequence number in the button
                            document.getElementById('last_changeset_btn').innerHTML = data.sequence;
                        }
                    }
                });


            }, 3000); // Call updateChart every 3 second
        }
        
        // Load initial data and then start live updates
        loadInitialData();
    </script>
</html>
